<header id="header">
    <div id="header_title">
        <a href="/welcome_user/{{user}}" id="logga"><img height="75px" src="/static/IMG/POP_logga.png"></a>
        <p>Halloj, {{user}}!</p>
    </div>
    <div id="task">
        {% include '_new_task.html'%}
    </div>
    <a id="welcome_user" href="/welcome_user/{{user}}">Hem</a>
    <a id="go_timeline" href="/tidslinje">Tidslinjen</a>
    <a id="go_calender" href="/kalender">Kalendern</a>
    <a href="/settings/{{user}}">Inställningar</a>
    <a id="go_about_us" href="/aboutus">Om oss</a>
    <div class="log_out_btn" id="log_out">   
        <form action="/log_out" method="POST">
            <input type="submit" value="Logga ut">
        </form>
    </div>  
</header>