<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<div class="calendar disable-selection" id="calendar">
    <div class="left-side">
        <div class="current-day text-center">
            <h1 class="calendar-left-side-day"></h1>
            <div class="calendar-left-side-day-of-week"></div>
        </div>
        <div class="current-day-events">
            <div>Dagens tasks:</div>
            <ul class="current-day-events-list"></ul>
        </div>
        <div class="add-event-day">
            <span class="fa fa-plus-circle cursor-pointer add-event-day-field-btn"></span>
        </div>
    </div>
    <div class="right-side">
        <div class="text-right calendar-change-year">
            <div class="calendar-change-year-slider">
                <span class="cursor-pointer calendar-change-year-slider-prev">&#8249;</span>
                <span class="calendar-current-year"></span>
                <span class="cursor-pointer calendar-change-year-slider-next">&#8250;</span>
            </div>
        </div>
        <div class="calendar-month-list">
            <ul class="calendar-month"></ul>
        </div>
        <div class="calendar-week-list">
            <ul class="calendar-week"></ul>
        </div>
        <div class="calendar-day-list">
            <ul class="calendar-days"></ul>
        </div>
    </div>
</div>
</html>