<img class="plus" src="/static/IMG/plus.png" alt="plus"> 
<div id="task_form" class="visible">      
    <form id="add_task_form" action="/new_task" method="POST">
        <img class="plus inside_plus" src="/static/IMG/plus_exit.png" alt="plus">
        <h3>Skapa task</h3>
            <label for="new_task_header">Uppgiftsnamn</label>
            <input type="text" id="new_task_header" name="new_task_header" required/>
            <label for="new_task_content">Vad som ska göras</label>
            <textarea id="new_task_content" name="task_content" required></textarea>
            <label for="new_task_prio">Prioritering</label>
            <select id="new_task_prio" name="task_prio">
                <option class="opt_grön" value="Grön">Låg</option>
                <option class="opt_gul" value="Gul">Mellan</option>
                <option class="opt_röd" value="Röd">Hög</option>
            </select>
            <label for="new_task_enddate">Deadline</label>
            <input type="date" name="new_task_enddate" id="new_task_enddate"/>
            <input type="submit" id="add_task_item" value="Skapa task" class="butt task_butt" disabled/>
    </form>
</div>