<!DOCTYPE html>
<html lang="sv">
    <head>
        <!-- Om title skickas med från backend visas det i title-taggen, annars bara POP-->
        {% if title%}
        <title>POP | {{title}}</title>
        {% else %}
        <title>POP</title>
        {% endif %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link rel="stylesheet" href="/static/CSS/font-awesome.min.css">
        <link rel="stylesheet" href="/static/CSS/all.css">
        <link rel="stylesheet" href="/static/CSS/style.css" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">
    
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
        <script async src="/static/JS/all.js"></script>
        <script src="/static/JS/highlight.js" defer></script>
    </head>
    <body>
        <div id="container1">
            {% include '_header.html' %}
        </div>
        <main class="index_head">
            <div id="about_text">
                <p><strong>Om oss</strong></p>
                <p><em>Vi som har skapat POP är 5 studenter som läser till <a id="index_link" href="https://edu.mah.se/sv/program/tgiaa"> Informationsarkitekt </a>på Malmö universitet. </em></p>
                <p><em>Vi har läst kursen <a id="index_link" href="https://edu.mau.se/DA336A">Systemutveckling och Projekt 1 </a> under VT-19 där vi som projekt påbörjade POP. </em></p>
                <p><em>Vi läser vår andra termin på första året och vi som skapat POP heter Birger, Diana, Oscar, Saga och Zandra.</em></p> 
                <p><em>Tanken bakom POP är ett planeringsvertyg som hjälper studenter få en bättre överblick över sina studier</em> </p>
                <p><em>Det ska vara kul att planera och POP kan vara en hjälpande hand för den som känner att de har problem med prokastinering</em></p>
                <img height="200px" alt="MAU logga" src="/static/IMG/mau2.jpg">
            </div>
        </main>
            <!--<aside>
                <div id="ballcont">
                    <div class="balloon">
                        <div>
                            <span class="balloon_span">P</span>
                        </div>
                        <div>
                            <span class="balloon_span">O</span>
                        </div>
                        <div>
                            <span class="balloon_span">P</span>
                        </div>
                    </div>
                </div>
            </aside>-->
        </div>
    </body>
</html>