<!DOCTYPE html>
<html lang="sv">
    <head>
        {% if title%}
        <title>POP | {{title}}</title>
        {% else %}
        <title>POP</title>
        {% endif %}
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">        

    </head>
    <body>
        <div id="container">
            <header class="index_head">
                <h1>OOPS!</h1>
                <p>Det ser ut som att något gick fel!</p>
                <p>{{error}}</p>
                <button class="backbutt block"><a href="/" id="back">Tillbaka</a></button>
                </div>
            </header>
           
            <aside>
                <div id="ballcont">
                    <div class="balloon">
                        <div>
                            <span class="balloon_span">4</span>
                        </div>
                        <div>
                            <span class="balloon_span">0</span>
                        </div>
                        <div>
                            <span class="balloon_span">4</span>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </body>
</html>