<!DOCTYPE html>
<html lang="sv">
    <head>
        {% if title%}
        <title>POP | {{title}}</title>
        {% else %}
        <title>POP</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">        

    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    POP!
                </h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header>
            <main>
                <h2>
                    Det blev något fel här
                </h2>
                <p>
                    {{error}}
                </p>
                <a href="/">Gå tillbaka</a>
            </main>
        </div>

    </body>
</html>