<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script src="/static/JS/scripts.js" defer></script>

    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    POP!
                </h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header>
            <main>
                <div id="start_form">
                    <button id="login_butt" class="butt">
                        Login 
                    </button>
                    <button id="register_butt" class="butt">
                        Register
                    </button>

                    <form id="login_form" class="hide" action="/login_form" method="POST">
                        <caption>
                            Logga in
                        </caption>
                        <label for="username">
                            Epost-adress:
                        </label>
                        <input id="username" name="username" type="text">
                        <label for="password">
                            Lösenord:
                        </label>
                        <input id="password" name="password" type="text">
                        <input type="submit" value="Logga in">
                    </form>

                    <form id="reg_form" class="hide" action="/signup_form" method="POST">
                        <caption>
                            Sign up
                        </caption>
                        <label for="reg">
                            epostadress
                        </label>
                        <input id="reg" type="text">
                        <label for="user_name">
                            Användarnamn: 
                        </label>
                        <input id="user_name" type="text">
                        <label for="pw_reg">
                            Lösenord:
                        </label>
                        <input id="pw_reg" type="text">
                        <input type="submit" value="Registrera">
                    </form>    
                </div>
            </main>
        </div>

    </body>
</html>