<!DOCTYPE html>
<html lang="sv">
    <head>
        <!-- Om title skickas med från backend visas det i title-taggen, annars bara POP-->
        {% if title%}
        <title>POP | {{title}}</title>
        {% else %}
        <title>POP</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/JS/update_password.js" defer></script>

    </head>
    <body>
        <div id="container">
            <main id="new_pwd_center">
                <h1>Halloj virrpanna!</h1>
                <p>Det är lätt hänt att glömma bort lösenord, fyll i ditt nya här nedan.</p>
                    <form action="/reset_password" method="POST" class="block" id="new_pwd_form">
                        <label for="new_pw">Nytt lösenord</label>
                        <input type="password" name="new_pw" id="new_pw" required>
                        <img src="/static/IMG/eye.png" alt="öga" id="showpw">
                        <p id="pw_info" class="info">Lösenordet ska vara åtta tecken långt, bestå av både stora och små bokstäver samt minst en siffra</p>
                        <input type="submit" value="Uppdatera" id="new_pw_submit" disabled class="reset_butt2">
                    </form>
            </main>
            <footer>
                <div id="ballcont">
                    <div class="balloon">
                        <div>
                            <span class="balloon_span">P</span>
                        </div>
                        <div>
                            <span class="balloon_span">O</span>
                        </div>
                        <div>
                            <span class="balloon_span">P</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>