<!DOCTYPE html>
<html lang="sv">
    <head>
        <!-- Om title skickas med från backend visas det i title-taggen, annars bara POP-->
        {% if title%}
        <title>POP | {{title}}</title>
        {% else %}
        <title>POP</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/JS/scripts.js" defer></script>

    </head>
    <body>
        <div id="container">
            <header>
                <h1>POP!</h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header>
            <main>
                    <form id="reset_form" action="/reset_pw" method="POST">
                        <caption>Glömt lösenord?</caption>
                        <label for="pw_reset">Ange e-post:</label>
                        <input type="email" id="pw_reset" name="pw_reset">
                        <input type="submit" id="reset" value="Återställ lösenord">
                    </form>
            </main>
        </div>
    </body>
</html>