<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script src="/static/JS/scripts.js" defer></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
        <script src="/static/JS/highlight.js" defer></script>

    </head>
    <body>
        <div id="container">
            {% include '_header.html' %}
            <main>
                <h1>Inställningar</h1>
                <div id="setting_container">
                    <button class="butt setting_choice" id="settprofile" type="button">Profil</button>
                    <div class="block settings_content">
                        <label for="epost">Epost</label>
                        <input type="text" name="epost" id="new_epost" required value="{{data[0][0]}}" disabled>
                        <form action="/update_pw" method="POST">
                            <label for="user_name">Användarnamn:</label>
                            <input type="text" name="user_name" id="new_user_name" required value="{{data[0][1]}}">
                            <label for="pw_reg">Byt lösenord</label>
                            <input type="password" name="pw_reg" id="pw_reg" required value="{{data[0][2]}}">
                            <img src="/static/IMG/eye.png" alt="öga" id="showpw">
                            <p id="pw_info" class="info">Lösenordet ska vara åtta tecken långt, bestå av både stora och små bokstäver samt minst en siffra</p>
                            <input type="submit" value="Spara ändringar" id="uppdaterapw" class="butt">
                        </form>
                    </div> 
                    <div id="settnotiser">
                        <button class="divbutt" type="button">Notiser</button>
                        <p id="notiscontent" class="hide settings_content">Vill du få notiser skickade till din mail?</p>
                    </div>
                    <div id="settlogout" class="log_out_btn">   
                        <form action="/log_out" method="POST">
                            <input type="submit" class="altdivbutt" value="Logga ut">
                        </form>
                    </div>
                    <div class="popup-overlay">
                        <!--Creates the popup content-->
                        <div class="popup-content">
                            <h2>Är du säker på att du vill ta bort användaren?</h2>
                            <form id="remove_user_form" action="/remove_user" method="POST">
                                <input type="submit" value="Ta bort användare" class="butt">
                            </form>
                            <!--popup's close button-->
                            <button class="closepopup altbutt">Stäng</button>    
                        </div>
                    </div>
                    <!--Content shown when popup is not displayed-->
                    <button id="setttabortkonto" class="altdivbutt openpopup">Ta bort användare</button>    
                </div>  
                <div class="close_popup"></div>
            </main>
        </div>
    </body>
</html>