<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/CSS/font-awesome.min.css">
        <link rel="stylesheet" href="/static/CSS/all.css">
        <link rel="stylesheet" href="/static/CSS/style.css" type="text/css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
        <script async src="/static/JS/all.js"></script>

    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    POP!
                </h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header>
            <main>
                {%for i in tasks%}
                    <p>{{i}}</p>
                {%endfor%}
            
                <br>
                <p>{{tasks}}</p>
            </main>


            <script>
                    var tasksJSON = '{{tasks|tojson}}';
                    console.log('tasksJSON', tasksJSON)
                    let tasks = JSON.stringify(tasksJSON);
                    console.log('tasks', tasks);
                    let newTasks= JSON.parse(tasks)
                    console.log('newTasks', newTasks)
                    let Obj = JSON.parse(tasksJSON)
                    console.log("Obj", Obj)
                    
                </script>
            
        </div>

    </body>
</html>