<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script src="/static/JS/board.js" defer></script>

    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    POP!
                </h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header>
            <main>

                {%for i in lista%} 
  
                <p>{{i}}</p> 
                
                {%endfor%} 
                
            </main>
        </div>

    </body>
</html>