<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Timeline</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/JS/timeline.js" defer></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
        <script src="/static/JS/highlight.js" defer></script>
    </head>

    <body id="timeline_body">
        <div id="container">
            {% include '_header.html' %}
            <main>
                <div class="timeline"> 
                    <ul>
                    {% for i in tasks %}
                        <li>
                            <h3>{{i[1]}}</h3>
                            <p class="hide task_content">{{i[2]}}</p>
                            <form id="remove_task_form" action="/poptask" method="POST" class="hide">
                                <input type="text" class="hide" value="{{i[0]}}" name="task_id" />
                                <input type="submit" value="Ta bort">
                            </form>
                            <button class="btn {{i[3]}}" type="button">{{i[5].strftime("%d-%m-%y")}}</button>
                        </li>
                        <div style="clear: both;"></div>
                    {% endfor %} 
                    </ul>
                </div> 
            </main>
        </div> 
    </body>
</html>
