<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Timeline</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/JS/timeline.js" defer></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
    </head>

    <body>
        <div id="container">
            <header>
                <h1>POP!</h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header> 
            <aside>{% include '_new_task.html'%}</aside>
            <main>
                <div class="timeline"> 
                    {% for i in tasks %}
                    <ul>
                        <li>
                            <h3>{{i[1]}}</h3>
                            <p class="hide task_content">{{i[2]}}</p>
                            <button class="btn {{i[3]}}" type="button">{{i[5]}}</button>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                    {% endfor %} 
                </div> 

                <a href="/welcome_user/{{user}}">Gå till välkomstsidan</a>
                <a href="/kalender">Gå till kalendern</a>
                
                <div class="log_out_btn">   
                    <form action="/log_out" method="POST">
                    <input type="submit"  class="butt" value="Logga ut">
                    </form>
                </div>  
            </main>
        </div> 
    </body>
</html>
