<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>Timeline</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        
        <script type="text/javascript" src="/static/JS/timeline.js" defer></script>
    </head>

        <body> 
            <header>
                <h1>
                    POP!
                </h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header> 
            {% include '_new_task.html'%}
                <div class="timeline"> 
                    {% for i in tasks %}
                    <ul>
                        <li>
                            <div>
                                <h3>{{i[1]}}</h3>
                                <p>{{i[2]}}</p>
                            </div>
                            <button class="btn" type="button" onclick="onClickHandler(this)">{{i[5]}}</button>
                            <button class="deleteknapp" type="button" onclick="remove_task(id)">Ta bort</button>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                    {% endfor %} 
                </div>        
            </body>
</html>
