<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script src="/static/JS/scripts.js" defer></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>

    </head>
    <body>
        <div id="container">
            <header>
                <h1>
                    POP!
                </h1>
                <p> inspirerande text - planera - organisera - prokrastinera</p>
            </header>
            <main>
                <h2>Välkommen {{ pagename }}!</h2>
                <a href="/tidslinje">Gå till tidslinjen</a>
                <a href="/kalender">Gå till kalendern</a>
            </main>
            <aside>{% include '_new_task.html' %}</aside>
        </div>
    </body>
</html>