<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script src="/static/JS/scripts.js" defer></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
        <script src="/static/JS/highlight.js" defer></script>
        <script src="/static/JS/edit_task.js" defer></script>

    </head>
    <body>
        <div id="container">
            {% include '_header.html' %}
            <main>
                {% if msg == "2" %}
                    <p>Du har blivit registrerad!</p>
                {% elif msg == "3" %}
                    <p>Go for it!</p>
                {% endif %}

            </main>
            <aside>
                <h4 id="deadli">Deadlines</h4>
                <ul class="deadline_list">
                    {% for i in tasks %}
                        <li class="deadline_list_l" value="{{i[6]}}">
                            <img src="/static/IMG/{{i[1]}}.png">
                            <p><strong>{{i[0]}}</strong></p>
                            <p>{{i[4].strftime("%d-%m-%y")}}</p>
                            <p><em>Passerat med {{i[5]}} dagar</em></p>
                        </li>
                    {% endfor %}
                    {% for i in data %}
                        <li class="deadline_list_l" value={{i[0]}}>
                            <img src="/static/IMG/{{i[3]}}.png">
                            <p><strong>{{i[1]}}</strong></p>
                            <p>{{i[5].strftime("%d-%m-%y")}}</p>
                        </li>
                    {% endfor %}
                </ul>
                <div id="create_task">
                    <p id="_create_task">Skapa en ny task</p>
                    <img class="plus" id="plus_aside" src="/static/IMG/plus.png" alt="plus">
                </div>
            </aside>
        </div>
        {% include '_show_task.html' %}
        <script>
            let tasks = JSON.parse('{{tasks|tojson}}'); 
            let data = JSON.parse('{{data|tojson}}');
        </script>
    </body>
</html>