<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>POP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/static/IMG/pop_balloon.jpg">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script src="/static/JS/scripts.js" defer></script>
        <script type="text/javascript" src="/static/JS/task.js" defer></script>
        <script src="/static/JS/highlight.js" defer></script>

    </head>
    <body>
        <div id="container">
            {% include '_header.html' %}
            <main>
                {% if msg == "1" %}
                    <p>Du är inloggad!</p>
                {% elif msg == "2" %}
                    <p>Du har blivit registrerad!</p>
                {% endif %}

                <a href="/tidslinje">Gå till tidslinjen</a>
                <a href="/kalender">Gå till kalendern</a>
                <a href="/settings/{{pagename}}">Gå till inställningar</a>
            </main>
            <aside>
                <img class="plus" src="/static/IMG/plus.png" alt="plus">
                <h4>Kommande & passerade deadlines:</h4>
                <ul class="deadline_list">
                    {% for i in tasks %}
                        <li class="deadline_list_l">
                            <img src="/static/IMG/{{i[1]}}.png">
                            <p>{{i[0]}}</p>
                            <p>{{i[4].strftime("%d-%m-%y")}}</p>
                            <p><em>Passerat med {{i[5]}} dagar</em></p>
                        </li>
                    {% endfor %}

                    {% for i in data %}
                        <li class="deadline_list_l">
                            <img src="/static/IMG/{{i[3]}}.png">
                            <p>{{i[1]}}</p>
                            <p>{{i[5].strftime("%d-%m-%y")}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
    </body>
</html>