body {
    background-color: #f5f5f5;
    margin: 0;
  }

#container {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "header header header"
        "aside main aside2"
        "footer footer footer"
        ;  
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

.square {
    border: 1px solid black;
    border-radius: 20%;
    padding: 20px;
    margin: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    grid-area: footer;
}

#container2 {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 
        "header header header"
        "aside main ."
        "footer footer footer"
        ;  
}

.aside2 {
    grid-area: aside2;
}

/************************************** TASKFORM ****************************************/
#task_form {
    background-color: #f5f5f5;
    width: 40%;
    height: 40%;
    border: 1px solid #afafafff;
    box-shadow: 1px 0.5px 0.5px 0.5px #888;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
    z-index: 1;
    padding: 50px;
}

#task_form *{
    display: block;
    max-width: 100%;
}

.plus {
    width: 50px;
    cursor: pointer;
}

.inside_plus {
    float: right;
    width: 10%;
    margin: -45px -45px 0;
}

/*********************************** GENERAL ***********************************/
.hide {
    display: none;
}

.block,
.block *{
    display: block;
}

.visible {
    visibility: hidden;
}

.rotate {
    transform: rotate(45deg);
}

.butt {
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #000;
    width: 25%;
    height: 30px;
    margin: 8px;
    cursor: pointer;
}

.small_butt {
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #000;
    width: 15%;
    height: 30px;
    cursor: pointer;
}

.buttwide {
    width: 50%;
    background-color: #A6D6A9;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85em;
}

.backbutt {
    background-color: #A6D6A9;
    box-shadow: 0.5px 0.5px 0.5px #000;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85em;
    border-radius: 15px;
    width: 15%;
    height: 30px;
}
#container > header > button > a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.95em;

}


.Röd {
    background-color: red;
}

.Grön {
    background-color: green;
}

.Gul {
    background-color: yellow;
}

#ordbok {
    margin: 50px 0 0 0;
}

#ordbok > p {
    margin: 0;
}

/**************************** SAGAS IMPORT *********************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#timeline-body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;

}
.timeline ul li:nth-child(odd)
{
    float:left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even)
{
    float:right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
   
}
.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233,33,99,1);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.btn{
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 18px;
    /*background: rgb(33, 233, 140);*/
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
    position: absolute;
    top: 12px;
    right: -165px;
    color: #333;
    font-size: 16px;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(36, 223, 30, 0.3);
    cursor: pointer;
    
}

.leftbtn{
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 18px;
    color: #fff;
    background: rgb(33, 233, 140);
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
    position: absolute;
    top: 12px;
    left: -165px;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(36, 223, 30, 0.3);  
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

/**************************** INFO FÖR VALIDERING *********************/

.info{
    display: none;
    color: #fafafa;
    background-color: #0ea122;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #333;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

#email_exists {
    color: #fafafa;
    background-color: #d61c1c;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #333;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

/******************************* Settings Birger ****************************/

#setting_container {
    
    width: 90%;
    padding: 30px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    box-shadow: 1px 1px 5px 5px rgb(180, 180, 180) ;
}
/**************************** HEADER *********************/

header{
    grid-area: header;
}
#header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 4px solid #fff;
}

#header_title {
    flex-basis: 40%;
    color: #85cc9f;
    text-shadow: 0.5px 0.5px 1px #333;
}

#task {
    flex-basis: 10%;
    margin-top: 10px;
}

#welcome_user {
    flex-basis: 10%;
    
}

#go_timeline {
    flex-basis: 10%;
    margin-top: 20px;
}

#go_calender {
    flex-basis: 10%;
    margin-top: 20px;
}

#log_out {
    flex-basis: 10%;
    margin-top: 10px;
}

#header a {
    margin-top: 20px; 
}

#header a {
    color: black;
    text-decoration: none;
}

#header a:hover {
    font-weight: bold;
}

#log_out input{
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #000;
    height: 30px;
    margin: 8px;
    cursor: pointer;
}

.index_head {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 50px 0 0 100px;
    color: #A6ADB4;
}


/**************************** INDEX - BALLOONS *********************/

#ballcont {
    width: 800px;
    height: 420px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.balloon {
    width: 738px;
    margin: 0 80px;
    padding-top: 80px;
    position: relative;
  }

.balloon > div {
    width: 104px;
    height: 140px;
    background: rgba(182, 15, 97, 0.9);
    border-radius: 0;
    border-radius: 80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding: 10px;
    box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
    -webkit-transform-origin: bottom center;
}

.balloon > div:nth-child(1) {
    background:#4D9C8C;
    left: 0;
    box-shadow: inset 10px 10px 10px rgb(58, 110, 100);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon > div:nth-child(1):before {
    color: #4D9C8C;
}

.balloon > div:nth-child(2) {
    background:#A6D6A9;
    left: 120px;
    box-shadow: inset 10px 10px 10px rgb(141, 184, 144);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}

.balloon > div:nth-child(2):before {
    color:#A6D6A9;
}

.balloon > div:nth-child(3) {
    background: #87CBA0;
    left: 240px;
    box-shadow: inset 10px 10px 10px rgb(119, 179, 141);
    -webkit-animation: balloon4 6s ease-in-out infinite;
    -moz-animation: balloon4 6s ease-in-out infinite;
    -o-animation: balloon4 6s ease-in-out infinite;
    animation: balloon4 6s ease-in-out infinite;
}

.balloon > div:nth-child(3):before {
    color: #87CBA0;
}

.balloon > div:before {
    position: absolute;
    bottom: -11px;
    left: 52px;
    content:"▲";
    font-size: 1em;
}

.balloon_span {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 5em;
    color: white;
    position: relative;
    top: 25px;
    left: 55%;
    margin-left: -27px;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
    0%, 100% {
        -webkit-transform: translateY(0) rotate(-6deg);
    }
    50% {
        -webkit-transform: translateY(-20px) rotate(8deg);
    }
}
@-moz-keyframes balloon1 {
    0%, 100% {
        -moz-transform: translateY(0) rotate(-6deg);
    }
    50% {
        -moz-transform: translateY(-20px) rotate(8deg);
    }
}
@-o-keyframes balloon1 {
    0%, 100% {
        -o-transform: translateY(0) rotate(-6deg);
    }
    50% {
        -o-transform: translateY(-20px) rotate(8deg);
    }
}
@keyframes balloon1 {
    0%, 100% {
        transform: translateY(0) rotate(-6deg);
    }
    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}
/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
    0%, 100% {
        -webkit-transform: translateY(0) rotate(6eg);
    }
    50% {
        -webkit-transform: translateY(-30px) rotate(-8deg);
    }
}
@-moz-keyframes balloon2 {
    0%, 100% {
        -moz-transform: translateY(0) rotate(6deg);
    }
    50% {
        -moz-transform: translateY(-30px) rotate(-8deg);
    }
}
@-o-keyframes balloon2 {
    0%, 100% {
        -o-transform: translateY(0) rotate(6deg);
    }
    50% {
        -o-transform: translateY(-30px) rotate(-8deg);
    }
}
@keyframes balloon2 {
    0%, 100% {
        transform: translateY(0) rotate(6deg);
    }
    50% {
        transform: translateY(-30px) rotate(-8deg);
    }
}
/* BAllOON 0*/
@-webkit-keyframes balloon3 {
    0%, 100% {
        -webkit-transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        -webkit-transform: translate(-20px, 30px) rotate(-8deg);
    }
}
@-moz-keyframes balloon3 {
    0%, 100% {
        -moz-transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        -moz-transform: translate(-20px, 30px) rotate(-8deg);
    }
}
@-o-keyframes balloon3 {
    0%, 100% {
        -o-transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        -o-transform: translate(-20px, 30px) rotate(-8deg);
    }
}
@keyframes balloon3 {
    0%, 100% {
        transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        transform: translate(-20px, 30px) rotate(-8deg);
    }
}
/* BAllOON 3*/
@-webkit-keyframes balloon4 {
    0%, 100% {
        -webkit-transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        -webkit-transform: translate(-15px, 20px) rotate(10deg);
    }
}
@-moz-keyframes balloon4 {
    0%, 100% {
        -moz-transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        -moz-transform: translate(-15px, 10px) rotate(10deg);
    }
}
@-o-keyframes balloon4 {
    0%, 100% {
        -o-transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        -o-transform: translate(-15px, 10px) rotate(10deg);
    }
}
@keyframes balloon4 {
    0%, 100% {
        transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        transform: translate(-15px, 10px) rotate(10deg);
    }
}
