body {
    background-color: white;
    margin: 0;
  }

#container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 
        ". header ."
        "aside main ."
        "footer footer footer"
        ;  
}

header{
    grid-area: header
}
main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

.square {
    border: 1px solid black;
    border-radius: 20%;
    padding: 20px;
    margin: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    grid-area: footer;
}

#container2 {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 
        ". header ."
        "aside main ."
        "footer footer footer"
        ;  
}

aside {
    grid-area: aside;
}

/************************************** TASKFORM ****************************************/
#task_form {
    background-color: #fffb26;
    width: 40%;
    height: 40%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b6b31d;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
    z-index: 1;
    padding: 50px;
}

#task_form *{
    display: block;
    max-width: 100%;
}

.plus {
    width: 20%;
}

.inside_plus {
    float: right;
    width: 10%;
    margin: -45px -45px 0;
}

/*********************************** GENERAL ***********************************/
.hide {
    display: none;
}

.block,
.block *{
    display: block;
}

.visible {
    visibility: hidden;
}

.rotate {
    transform: rotate(45deg);
}

.butt {
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #000;
    width: 25%;
    height: 30px;
    margin: 8px;
    cursor: pointer;
}

.small_butt {
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #000;
    width: 15%;
    height: 30px;
    cursor: pointer;
}

.Röd {
    background-color: red;
}

.Grön {
    background-color: green;
}

.Gul {
    background-color: yellow;
}
/**************************** SAGAS IMPORT *********************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;

}
.timeline ul li:nth-child(odd)
{
    float:left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even)
{
    float:right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
   
}
.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233,33,99,1);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.btn{
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 18px;
    /*background: rgb(33, 233, 140);*/
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
    position: absolute;
    top: 12px;
    right: -165px;
    color: #333;
    font-size: 16px;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(36, 223, 30, 0.3);
    cursor: pointer;
    
}

.leftbtn{
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 18px;
    color: #fff;
    background: rgb(33, 233, 140);
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
    position: absolute;
    top: 12px;
    left: -165px;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(36, 223, 30, 0.3);  
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);

}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}


/**************************** INFO FÖR VALIDERING *********************/

.info{
    display: none;
    color: #fafafa;
    background-color: #0ea122;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #333;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

#email_exists {
    color: #fafafa;
    background-color: #d61c1c;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #333;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}
