body {
    background-color: white;
    margin: 0;
    background: #3883d8; /* Old browsers */
    background: -moz-linear-gradient(top, #3883d8 0%, #519fe3 50%, #64a9e2 100%, #a2cdee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3883d8 0%,#519fe3 50%,#64a9e2 100%,#a2cdee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3883d8 0%,#519fe3 50%,#64a9e2 100%,#a2cdee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3883d8', endColorstr='#a2cdee',GradientType=0 ); /* IE6-9 */
}

#container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 
        ". header ."
        ". main ."
        "footer footer footer"
        ;  
}

header{
    grid-area: header
}
main {
    grid-area: main;
}


#start_form *{
    display: block;
}

.square {
    border: 1px solid black;
    border-radius: 20%;
    padding: 20px;
    margin: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    grid-area: footer;
}



#container2 {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-auto-rows: auto;
    grid-template-areas: 
        ". header ."
        "aside main ."
        "footer footer footer"
        ;  
}


aside {
    grid-area: aside;
}